{% extends "base.html" %}
{% block title %}Contact Us{% endblock title %}
{% block mainContent %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, msg in messages %}
  <div class="alert alert-{{category}} alert-dismissible fade show text-center" role="alert">
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endif %}
{% endwith %}


<div class="container my-5">

    <div class='row'>
        <div class='col-6 contact'>
            <div class="mt-2 ">
                <div class="text-center " >
                
                </div>
                
                <div class=" mb-5 mt-3">
                  <h2 class="fw-bold text-body-emphasis">How can we Help You?</h2>
                </div>
                <h5>
                    Thank you for your interest in DailyEmailer. Please use the form to contact us, and we will respond as soon as possible.
                </h5>  
                
                <div class="mt-4">
                    <h5>
                        Alternatively, you can reach us via email at <a href="mailto:dailyemailer@gmail.com">dailyemailer@gmail.com</a>. 
                    </h5>
                </div>

                 
            </div>
        </div>
        <div class='col-6'>
            <div class="p-3 bg-body-tertiary rounded-3">

                <form method="POST">
                  {{form.csrf_token()}}
                      <div class="m-4 row">
                        <div class="col-6">
                          {{form.first_name.label()}}
                            {{form.first_name(class="form-control", placeholder="First name")}}
                           
                        </div>
                        <div class="col-6">
                          {{form.last_name.label()}}
                            {{form.last_name(class="form-control", placeholder="Last name")}}
                           
                        </div>
                      <div>

                      <div class="mt-4">
                        {{form.email.label()}}
                        {{form.email(class="form-control", placeholder="name@example.com")}}
                       
                       
                      </div>
                      
                      <div class=" mt-4">
                        {{form.message.label()}}
                        {{form.message(class="form-control")}}
                        
                      </div>
                  
                      <div class="mt-5">
                      {{form.submit(class="btn btn-secondary w-100 py-2")}}
                      </div>
                  
                  </form>
        </div>
    </div>   
  </div> 


{% endblock mainContent %}