{% extends "base.html" %}
{% block title %}HOST{% endblock title %}

{% block mainContent %}
<div class="container px-1 py-1">
    <h2 class="pb-2 border-bottom">Host</h2>
    <div class="container my-4">
        <div class="bg-body-tertiary p-3 rounded">
            {% if host  !={} and host.host_type != 'Default'%}
            <div class=" text-end">
                <a href="/host/delete/{{host.serverId}}"><i class="bi bi-trash3" style="font-size: 20px;"> </i></a>
                <a href="/host/re-edit/{{host.serverId}}"><i class="bi bi-pencil-square" style="font-size: 20px;"></i></a> 
               
                </div>
            {% endif %}
          <div class="col-sm-5 py-5 mx-auto">
            {% if host  !={} %}

            <h3 class="display-7 fw-normal text-center">{% if host.host_type == 'Default' %}{{host.host_type}}{% else %}Custum{% endif %} SMTP Server</h3>
            <ul class="fs-4 host-list mt-3">
                <li><b>Username : </b>{{host.loginId}}</li>  
                <li><b>Password : </b>{{host.serverPassword}}</li>  
                <li><b>SMTP Host : </b>{{host.host}}</li>  
                <li><b>SMTP Port : </b>{{host.port}}</li> 
                <li><b>Sender Mail : </b>{{host.senderMail}}</li>  
                <li><b>Sender Name : </b>{{host.senderName}}</li>  
              </ul> 
              {% else %}
              <h3 class="display-7 fw-normal text-center">Custom SMTP Server</h3>
              <p class="col-lg-8 mx-auto fs-5 text-center pt-3">
               Host Not Found!
              </p>
              <div class="py-3 text-center">
               <a href='/host/add-new/00'> <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
                    Add Custom Host
                  </button></a>
             
              </div>
            {% endif %}

             
        </div>
        </div>
      </div>

</div>    

{% endblock mainContent %}