{% extends "base.html" %}
{% block title %}HOME{% endblock title %}

{% block mainContent %}
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">

    <symbol id="arrow-right-short" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
    </symbol>
    <symbol id="check2-circle" viewBox="0 0 16 16">
      <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"></path>
      <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"></path>
    </symbol>
  </svg>
<div class="container my-5">

    <div class="p-3 text-center bg-body-tertiary rounded-3">

      <svg width="100" height="100" xmlns="">
        <image href={{url_for('static',filename='images/mail-icon.png')}} width="100" height="50"/>
      </svg>
      <h1 class="text-body-emphasis">Stay informed effortlessly</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted" id="main-text">
        Never miss a beat with our intuitive email alert system. Set up personalized notifications for daily, one-time, or custom delivery, complete with your choice of customized messages, and stay ahead of the curve effortlessly with our tailored updates.
      </p>
      <div class="d-inline-flex gap-2 mb-5 mt-3">
       
        <a href={% if current_user.is_authenticated %}{{url_for('dashboard_page')}} {% else %} {{url_for('login_page')}} {% endif %}><button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
         Let's Start 
        </button></a>
      </div>
    </div>
  </div> 



{% endblock mainContent %}